body {
  color: #666;
}

.demo-list-item {
  width: 300px;
}

#add {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 999;
}

@media all and (min-width: 1024px) {
  #add {
    top: 100px;
  }
}
